page-home {
    .bodyCard{
        background-color: $base-color-card;
        color: white;
    }
    .card-header-md{
        color: white;
    }
    .card-title-md{
        color: white;
    }
    

}
